html {
    padding: 10px;
    font-family: Verdana, sans-serif;
}

.login-buttons-dropdown-align-right {
    float: right;
}

h1 {
	text-align: center;
	margin: 0 auto;
	border-bottom: 2px solid black;

}

.welcome {
	text-align: center;
	padding: 10px;
	margin: 10px 30% 20px 30%;
	border: 1px solid black;
	border-radius: 10px;
	background: linear-gradient(#6a3093, #a044ff);
	color: white;
	box-shadow: -8px 10px 32px 1px rgba(8,8,8,1);;

}

.data {
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	margin: 10px 30% 20px 30%;
	border: 1px solid black;
	background: linear-gradient(#6a3093, #a044ff);
	color: white;
	box-shadow: -8px 10px 32px 1px rgba(8,8,8,1);
}

.input {
	border-radius: 10px;

	margin: 10px 30% 20px 30%;
	border: 1px solid black;
	padding: 10px;
	background: linear-gradient(#6a3093, #a044ff);
	color: white;
	box-shadow: -8px 10px 32px 1px rgba(8,8,8,1);
}